.detail-product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.detail-product {
  width: 1230px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 150%;
  border-radius: 6px;
  box-shadow: 0 10px 50px rgb(96 68 121 / 10%);
}

.detail-product img {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  height: 450px;
  object-fit: cover;
  display: block;
}

.box-detail {
  max-width: 500px;
  width: 100%;
  margin: 20px;
}

.box-detail .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-detail h2 {
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  font-weight: 2rem;
}

.box-detail p {
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}

.box-detail .cart {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  background: #7b00f1;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 6px;
  border-radius: 8px;
}
